.q-grid {
    display: grid;
    grid-template-rows: minmax(10px, auto);
    overflow: hidden;
}
.q-grid *:not(input) {
    /*-moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;*/
}

.q-grid .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0rem;
    font-size: .8em;
    padding: .25rem;
    color: #444;
    word-break: break-all;
    background-color: #fff;
}
.q-grid .cell.checkbox {
    padding:0;
}
.q-grid input[type="checkbox"] {
    width: 15px;
    height: 15px;
}
.q-grid.body .cell {
    overflow: hidden;
}
.q-grid.body .change-page {
    text-decoration: none;
    font-size: 14px;
    color: #bf6d6d;
}
.q-grid.body .cell.selected {
    background: #c5edfc;
}
.q-grid.body .cell.draging {
    background: yellow !important;
}
header.q-grid .cell{
    background-color: #999;
    position: relative;
}
/* .q-grid-scroll::-webkit-scrollbar{ 
    width:0px;
} */
.q-grid-box {
    width: 100%;
}
.q-grid .cell input[type="text"] {
    width: 100%;
    height: 100%;
    border-radius: 0;
    text-align: center;
}
.q-grid .sort-icon {
    position: relative;
}
.q-grid .sort-icon:before, .q-grid .sort-icon:after {
    display: block;
    content: '';
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    left: 2px;
}
.q-grid .sort-icon:before {
    border-bottom: 4px solid rgb(75,126,200);
    top: -5px;
}
.q-grid .sort-icon:after {
    border-top: 4px solid rgb(75,126,200);
    top: 2px;
}
.q-grid .cell.sort-1 .sort-icon:after {
    display: none;
}
.q-grid .cell.sort-1 .sort-icon:before {top:-2px;}
.q-grid .cell.sort-2 .sort-icon:after {top:-2px;}
.q-grid .cell.sort-2 .sort-icon:before {
    display: none;
}
header.q-grid .cell .resizebar {
    position: absolute;
    right: -2px;
    cursor: col-resize;
    width: 4px;
    background: #04ff52;
    opacity: 0;
    height: 100%;
    z-index: 2;
}
header.q-grid .cell .resizebar:hover {
    opacity: .3;
}
header.q-grid .cell .resizebar.isDraging {
    opacity: .3;
}
.q-grid .cell.checkbox {
    position:relative;
}
.q-grid .cell.checkbox:after {
    content:'';
    position: absolute;
    width:100%;
    height:100%;
    background:red;
    opacity:0;
}